// ---------------------------
// Typography and text styles
// ---------------------------

//
// ---------------------------

html {
  font-size: 10px; // static size
}

body {
  color: $prime;
  margin: 0;
}


// Headings
// ---------------------------
.h1, .h2, .h3, .h4, .h6 {
  font-family: "Merriweather";
  margin: 0 auto;
}

.h1 {
  font-size: 5rem;
}

.h2 {
  font-size: 4rem;
}

.h3 {
  font-size: 3rem;
}

.h4 {
  font-size: 2rem;
}

.h5 {
  font-family: "Open Sans";
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.h6 {
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;

 /* подчеркивание другого цвета

  & span {
    color: #FF8C00;
  }

  &:hover {
    color: red;
  }

  &:hover span {
    color: blue;
  } */
}
